<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="purchaseItem">
        <h2 class="jh-entity-heading" data-cy="purchaseItemDetailsHeading">
          <span v-text="$t('gatewayApp.purchaseItem.detail.title')">PurchaseItem</span> {{ purchaseItem.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('gatewayApp.purchaseItem.productId')">Product Id</span>
          </dt>
          <dd>
            <span>{{ purchaseItem.productId }}</span>
          </dd>
          <dt>
            <span v-text="$t('gatewayApp.purchaseItem.purchase')">Purchase</span>
          </dt>
          <dd>
            <div v-if="purchaseItem.purchase">
              <router-link :to="{ name: 'PurchaseView', params: { purchaseId: purchaseItem.purchase.id } }">{{
                purchaseItem.purchase.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="purchaseItem.id"
          :to="{ name: 'PurchaseItemEdit', params: { purchaseItemId: purchaseItem.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./purchase-item-details.component.ts"></script>
