<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="gatewayApp.purchaseItem.home.createOrEditLabel"
          data-cy="PurchaseItemCreateUpdateHeading"
          v-text="$t('gatewayApp.purchaseItem.home.createOrEditLabel')"
        >
          Create or edit a PurchaseItem
        </h2>
        <div>
          <div class="form-group" v-if="purchaseItem.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="purchaseItem.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('gatewayApp.purchaseItem.productId')" for="purchase-item-productId"
              >Product Id</label
            >
            <input
              type="number"
              class="form-control"
              name="productId"
              id="purchase-item-productId"
              data-cy="productId"
              :class="{ valid: !$v.purchaseItem.productId.$invalid, invalid: $v.purchaseItem.productId.$invalid }"
              v-model.number="$v.purchaseItem.productId.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('gatewayApp.purchaseItem.purchase')" for="purchase-item-purchase">Purchase</label>
            <select class="form-control" id="purchase-item-purchase" data-cy="purchase" name="purchase" v-model="purchaseItem.purchase">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  purchaseItem.purchase && purchaseOption.id === purchaseItem.purchase.id ? purchaseItem.purchase : purchaseOption
                "
                v-for="purchaseOption in purchases"
                :key="purchaseOption.id"
              >
                {{ purchaseOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.purchaseItem.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./purchase-item-update.component.ts"></script>
