<template>
  <div>
    <h2 id="page-heading" data-cy="PurchaseItemHeading">
      <span v-text="$t('gatewayApp.purchaseItem.home.title')" id="purchase-item-heading">Purchase Items</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('gatewayApp.purchaseItem.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'PurchaseItemCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-purchase-item"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('gatewayApp.purchaseItem.home.createLabel')"> Create a new Purchase Item </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && purchaseItems && purchaseItems.length === 0">
      <span v-text="$t('gatewayApp.purchaseItem.home.notFound')">No purchaseItems found</span>
    </div>
    <div class="table-responsive" v-if="purchaseItems && purchaseItems.length > 0">
      <table class="table table-striped" aria-describedby="purchaseItems">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('gatewayApp.purchaseItem.productId')">Product Id</span></th>
            <th scope="row"><span v-text="$t('gatewayApp.purchaseItem.purchase')">Purchase</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="purchaseItem in purchaseItems" :key="purchaseItem.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'PurchaseItemView', params: { purchaseItemId: purchaseItem.id } }">{{
                purchaseItem.id
              }}</router-link>
            </td>
            <td>{{ purchaseItem.productId }}</td>
            <td>
              <div v-if="purchaseItem.purchase">
                <router-link :to="{ name: 'PurchaseView', params: { purchaseId: purchaseItem.purchase.id } }">{{
                  purchaseItem.purchase.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'PurchaseItemView', params: { purchaseItemId: purchaseItem.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'PurchaseItemEdit', params: { purchaseItemId: purchaseItem.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(purchaseItem)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="gatewayApp.purchaseItem.delete.question" data-cy="purchaseItemDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-purchaseItem-heading" v-text="$t('gatewayApp.purchaseItem.delete.question', { id: removeId })">
          Are you sure you want to delete this Purchase Item?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-purchaseItem"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removePurchaseItem()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./purchase-item.component.ts"></script>
