<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="purchase">
        <h2 class="jh-entity-heading" data-cy="purchaseDetailsHeading">
          <span v-text="$t('gatewayApp.purchase.detail.title')">Purchase</span> {{ purchase.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('gatewayApp.purchase.amount')">Amount</span>
          </dt>
          <dd>
            <span>{{ purchase.amount }}</span>
          </dd>
          <dt>
            <span v-text="$t('gatewayApp.purchase.status')">Status</span>
          </dt>
          <dd>
            <span>{{ purchase.status }}</span>
          </dd>
          <dt>
            <span v-text="$t('gatewayApp.purchase.user')">User</span>
          </dt>
          <dd>
            {{ purchase.user ? purchase.user.id : '' }}
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="purchase.id" :to="{ name: 'PurchaseEdit', params: { purchaseId: purchase.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./purchase-details.component.ts"></script>
