<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="gatewayApp.purchase.home.createOrEditLabel"
          data-cy="PurchaseCreateUpdateHeading"
          v-text="$t('gatewayApp.purchase.home.createOrEditLabel')"
        >
          Create or edit a Purchase
        </h2>
        <div>
          <div class="form-group" v-if="purchase.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="purchase.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('gatewayApp.purchase.amount')" for="purchase-amount">Amount</label>
            <input
              type="number"
              class="form-control"
              name="amount"
              id="purchase-amount"
              data-cy="amount"
              :class="{ valid: !$v.purchase.amount.$invalid, invalid: $v.purchase.amount.$invalid }"
              v-model.number="$v.purchase.amount.$model"
              required
            />
            <div v-if="$v.purchase.amount.$anyDirty && $v.purchase.amount.$invalid">
              <small class="form-text text-danger" v-if="!$v.purchase.amount.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.purchase.amount.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('gatewayApp.purchase.status')" for="purchase-status">Status</label>
            <input
              type="text"
              class="form-control"
              name="status"
              id="purchase-status"
              data-cy="status"
              :class="{ valid: !$v.purchase.status.$invalid, invalid: $v.purchase.status.$invalid }"
              v-model="$v.purchase.status.$model"
              required
            />
            <div v-if="$v.purchase.status.$anyDirty && $v.purchase.status.$invalid">
              <small class="form-text text-danger" v-if="!$v.purchase.status.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('gatewayApp.purchase.user')" for="purchase-user">User</label>
            <select class="form-control" id="purchase-user" data-cy="user" name="user" v-model="purchase.user">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="purchase.user && userOption.id === purchase.user.id ? purchase.user : userOption"
                v-for="userOption in users"
                :key="userOption.id"
              >
                {{ userOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.purchase.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./purchase-update.component.ts"></script>
