<template>
  <div>
    <h2 id="page-heading" data-cy="PurchaseHeading">
      <span v-text="$t('gatewayApp.purchase.home.title')" id="purchase-heading">Purchases</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('gatewayApp.purchase.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'PurchaseCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-purchase"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('gatewayApp.purchase.home.createLabel')"> Create a new Purchase </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && purchases && purchases.length === 0">
      <span v-text="$t('gatewayApp.purchase.home.notFound')">No purchases found</span>
    </div>
    <div class="table-responsive" v-if="purchases && purchases.length > 0">
      <table class="table table-striped" aria-describedby="purchases">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('gatewayApp.purchase.amount')">Amount</span></th>
            <th scope="row"><span v-text="$t('gatewayApp.purchase.status')">Status</span></th>
            <th scope="row"><span v-text="$t('gatewayApp.purchase.user')">User</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="purchase in purchases" :key="purchase.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'PurchaseView', params: { purchaseId: purchase.id } }">{{ purchase.id }}</router-link>
            </td>
            <td>{{ purchase.amount }}</td>
            <td>{{ purchase.status }}</td>
            <td>
              {{ purchase.user ? purchase.user.id : '' }}
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'PurchaseView', params: { purchaseId: purchase.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'PurchaseEdit', params: { purchaseId: purchase.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(purchase)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="gatewayApp.purchase.delete.question" data-cy="purchaseDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-purchase-heading" v-text="$t('gatewayApp.purchase.delete.question', { id: removeId })">
          Are you sure you want to delete this Purchase?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-purchase"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removePurchase()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./purchase.component.ts"></script>
